<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="tools"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <div class="btn-group nav-text">
        <div class="radio btn">
          <!-- These btnRadio things are part of ngx-bootstrap, and I hope I dont have to go back down that hole
                 Find a way to bind this radio to the siteModel with Clarity-->
          <input
            type="radio"
            value="EBAY_US"
            name="btn-group-site-radios"
            [(ngModel)]="this._ebay.siteModel"
            tabindex="0"
            role="button"
            id="btn-site-radio-1"
          />
          <label for="btn-site-radio-1">EBAY_US</label>
        </div>
        <div class="radio btn">
          <input
            type="radio"
            value="EBAY_UK"
            name="btn-group-site-radios"
            [(ngModel)]="this._ebay.siteModel"
            tabindex="0"
            role="button"
            id="btn-site-radio-2"
          />
          <label for="btn-site-radio-2">EBAY_UK</label>
        </div>
        <div class="radio btn">
          <input
            type="radio"
            value="EBAY_AU"
            name="btn-group-site-radios"
            [(ngModel)]="this._ebay.siteModel"
            tabindex="0"
            role="button"
            id="btn-site-radio-3"
          />
          <label for="btn-site-radio-3">EBAY_AU</label>
        </div>
      </div>
      <!-- <button type="button" *ngIf="!authenticated" (click)="doLogin()" class="nav-link btn btn-danger" href="#">Reauth</button> -->
      <div class="btn-group">
        <button
          class="btn"
          [ngClass]="this._ebay.isSandbox ? 'btn-success' : 'btn-success-outline'"
          (click)="this._ebay.swapEnv(true)"
          type="button"
        >
          Sandbox
        </button>
        <button
          class="btn"
          [ngClass]="!this._ebay.isSandbox ? 'btn-success' : 'btn-success-outline'"
          (click)="this._ebay.swapEnv(false)"
          type="button"
        >
          Production
        </button>
      </div>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
